<div class='<%= location %>'>
      <div><%= link_to "HOME", root_path %></div>
      <div><%= link_to "ABOUT", about_me_path %></div>
      <div><%= link_to "CONTACT", contact_path %></div>
      <div><%= link_to "BLOGS", blogs_path %></div>
      <div><%= link_to "PORTFOLIOS", portfolios_path %></div>
    </div>